testnet={{ 1 if testnet else 0 }}
server=1
rpcssl=0
rpcuser={{ rpcuser }}
rpcpassword={{ rpcpassword }}
rpcport={{ rpcport }}
alertnotify=echo %s | mail -s "Bitcoin Alert" {{ admin_email }}
printtoconsole=1
walletnotify={{ walletnotify }}
